.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  font-family: var(--ifm-font-family-brand);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroTitle {
  font-size: 4rem;
}

.heroSubtitle {
  color: var(--ifm-color-primary);
  font-size: 2rem;
}

.infoButton {
  margin: 1.5rem 2rem;
}
